---
layout: default
title: Categories
---
<div class="main-layout">
{% include sidebar.html %}
    <main class="content category-index">
    <h1>分类</h1>
    <ul class="category-index-list">
        {% for category in site.categories %}
            <li class="category-index-item">
                {% assign cat_slug = category[0] | slugify %}
                <a href="{{ '/category/' | append: cat_slug | append: '/' | relative_url }}"
                    class="category-index-link">
                    {{ category[0] }}
                </a>
                <span class="category-count">
                    ({{ category[1].size }})
                </span>
            </li>
        {% endfor %}
    </ul> 
    </main>
</div>