<aside class="sidebar">
    <div class="panel">
        <h3>作者</h3>
        <img src="/assets/avatar.webp" alt="avatar" class="avatar">
        <p style="text-align: center;">{{ site.author }}</p>
    </div>
    <div class="panel">
        <h3>统计</h3>
        <p>文章数: {{ site.posts.size }}</p>
        <p>分类数: {{ site.categories.size }}</p>
        <p>最后更新:
            {{ site.posts.first.date | date: "%Y-%m-%d" }}
        </p>
    </div>
    <div class="panel">
        <h3>联系</h3>
        <p><a href="https://space.bilibili.com/108097771?spm_id_from=333.1007.0.0">访问我的 bilibili</a></p>
        <p><a href="https://github.com/NTC627">访问我的 GitHub</a></p>
    </div>
</aside>
