---
layout: default
---

<section class="category-page">

    <h1 class="category-title">
        {{ page.category }} ({{ site.categories[page.category].size }})
    </h1>
    
    <ul class="category-list">
    {% assign posts = site.categories[page.category] %}
    {% for post in posts %}
        <li class="category-item">
            <a href="{{ post.url | relative_url }}" class="category-link">
                {{ post.title }}
            </a>
            <small class="category-date">
                {{ post.date | date: "%Y-%m-%d" }}
            </small>
        </li>
    {% endfor %}
    </ul>

</section>