<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="google-site-verification=Z6RovIqZTBN_qjzIY7nw1z0pxNqSQj3D-9vXqCynCXs"/>

<title>
    {% if page.title %}
        {{ page.title }} | b14ckb0x's space
    {% else %}
        b14ckb0x's space
    {% endif %}
</title>

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<script src="{{ '/assets/js/search.js' | relative_url }}"></script>

</head>

<body>

<div id="wrapper">

<header class="navbar">
    <div class="nav-links">
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/categories.html' | relative_url }}">Categories</a>
    <a href="{{ '/about.html' | relative_url }}">About</a>
    <a href="{{ '/links.html' | relative_url }}">Links</a>
    </div>
    <div class="search-box">
        <button type="button" class="search-icon-btn" aria-label="Toggle Search">
            <svg viewBox="0 0 24 24" width="20" height="20" stroke="#e0e0e0" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </button>
        <input type="text" id="search-input" placeholder="Search">
        <ul id="results-container"></ul>
    </div>
</header>

<div class="container">
    {{ content }}
</div>

<footer class="footer">
    Hacked by b14ckb0x
</footer>


</div>

</body>
</html>
