<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="google-site-verification=Z6RovIqZTBN_qjzIY7nw1z0pxNqSQj3D-9vXqCynCXs"/>

<title>
    {% if page.title %}
        {{ page.title }} | b14ckb0x's space
    {% else %}
        b14ckb0x's space
    {% endif %}
</title>

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">


</head>

<body>

<div id="wrapper">


<header class="navbar">
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/categories.html' | relative_url }}">
    <a href="{{ '/about.html' | relative_url }}">About</a>
    <a href="{{ '/links.html' | relative_url }}">Links</a>
</header>

<div class="container">
    {{ content }}
</div>

<footer class="footer">
    Hacked by b14ckb0x
</footer>


</div>

</body>
</html>
